<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="aplogo" />
    </div>

    <div class="redes">
      <div>
        <a href="https://www.linkedin.com/feed/"
          ><img src="../../../assets/linkedin.png" alt=""
        /></a>
        <a href="https://github.com/draguitoxD"
          ><img src="../../../assets/github.png" alt=""
        /></a>
        <a href=""><img src="../../../assets/instagram.png" alt="" /></a>
        <button type="button" class="btn btn-outline-light">Ingresar</button>
      </div>
    </div>
  </div>
</div>
