<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1>
        -
        <h3>(Años)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
          necessitatibus adipisci minima beatae expedita laborum eum enim
          facilis reprehenderit. Dicta labore repellat excepturi quod quia
          consectetur quibusdam molestias odit incidunt.
        </p>
      </li>
      <li>
        <h1>Trabajo 2</h1>
        -
        <h3>(Años)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
          necessitatibus adipisci minima beatae expedita laborum eum enim
          facilis reprehenderit. Dicta labore repellat excepturi quod quia
          consectetur quibusdam molestias odit incidunt.
        </p>
      </li>
    </ul>
  </div>
</div>
