<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Instituto Superior Manuel de falla</h1>
        -
        <h3>(2016-2021)</h3>

        <p>
          Colegio al que asisti y pude aprender las bases de la programacion y
          algunos de los principales lenguajes de programación como python o
          c++, Como tambien pude aprender distintos paradigmas de la
          programacion como por ejemplo la programacion orientada a objetos.
        </p>
        <p>Titulo: Tecnico en Programación</p>
      </li>
    </ul>
  </div>
</div>
