<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#F0850D'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'HTML'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#105BED'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'CSS'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#E7F00D'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'JavaScript'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="55"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#E45011'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'Java'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#0A0AF1'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'Python'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#0ACCF1'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'MySQL'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#F10A0A'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'Angular'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#030303'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'GitHub'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#ED106D'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'Ingles'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#2EE411'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'Trabajo en Equipo'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#7D0AF1'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'Adaptabilidad'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#EBEBEB'"
      [innerStrokeColor]="'#F10AF1'"
      [animation]="true"
      [animationDuration]="900"
      [unitsColor]="'#ffffff'"
      [title]="'Creatividad'"
      [titleColor]="'#ffffff'"
      [showUnits]="false"
    ></circle-progress>
  </div>
</div>
