<div class="row">
  <div class="col-12">
    <img src="../../../assets/fotop.jpeg" class="img-fluid" id="fotop" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>
        Soy Nazareno Viero, una persona que se interezo en la programacion desde
        muy chico. Crecí rodeado de computadoras, y por ende de la dudad de como
        cada programa, aplicación o sitio web funcionaba. En el colegio tuve la
        oportunidad de aprender mas sobre el tema, ya que en este pude conseguir
        mi titulo de Tecnico en Programación, este me dio la motivacion de
        seguir estudiando y poder empezar a armar mis propios proyectos y tratar
        de poder desarrollarme en la industria.
      </p>
    </span>
  </div>
</div>
