<div class="row">
  <h1>Proyectos Realizados!</h1>
  <section class="container custom-section">
    <div class="row">
      <div class="col-md" data-aos="fade-up" data-aos-duration="3000">
        <img
          src="../../../assets/coming-soon.jpg"
          class="img-fluid"
          alt="coming-soon"
        />
      </div>
      <div class="cb col-md">
        <h1>Primer Proyecto</h1>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
          similique cum ratione esse ipsum, omnis voluptas aperiam amet! Nostrum
          cum veniam vel aliquam, quam cumque fugit harum maiores voluptate
          molestias.
        </p>
      </div>
    </div>
  </section>
</div>
